.typing-indicator {
  display: inline-block;
  margin-left: 6px;
  letter-spacing: 2px;
  animation: typing 1.2s infinite;
}

@keyframes typing {
  0%,
  100% {
    opacity: 0.25;
  }

  50% {
    opacity: 1;
  }
}